<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>CoPoet: Collaborative Poetry Writing with Instructions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
	body {
            background-image: url('../static/neruda.jpeg');
            background-size: 20%;
	    background-repeat: no-repeat;
	    background-position: bottom -225px left 7px;
        }
        h1 {text-align: center;}
        .center_div {
            margin: 0 auto;
            width: 50%
                /* value of your choice which suits your alignment */
        }
    </style>
</head>

<body>
    <br>
    <h1><i>CoPoet: Collaborative Poetry Writing with Instructions</i></h1> <br>
    <form name="creative_instructions" action = "{{ url_for('home') }}" class="center_div" onsubmit="return onSubmitForm()" method="POST">

  <!--    <label for="poemsofar">Topic</label>
        <textarea name="poemsofar" class="form-control" id="poemsofar" rows="3"></textarea>
        <br> -->

    <script>
	var clicked;
	function generateInstruction() {
		var inst = "Select options to modify instruction";
		if (document.getElementById('about').checked) {inst = "Write a poetic sentence that contains the word ''" }
		if (document.getElementById('startwithaword').checked) {inst = "Write a poetic sentence that starts with the word ''" }
		if (document.getElementById('endwithaword').checked) {inst = "Write a poetic sentence ending in ''" }
		if (document.getElementById('comp1').checked) {inst = "Write a poetic sentence that contains the word '' and ending in ''" }
		if (document.getElementById('comp2').checked) {inst = "Write a poetic sentence that starts with the word '' and ending in ''"}
		document.getElementById('nlinstruction').value = inst;
	}
    </script>


    <label for="lang">Choose an instruction:</label><br>
        <input type="radio" id="about" name="inst" value="about"><label for="about"> Suggest a sentence about a topic</label><br>
        <input type="radio" id="endwithaword" name="inst" value="endwithaword"><label for="endwithaword"> Suggest a sentence ending with a custom word</label><br>
        <input type="radio" id="startwithaword" name="inst" value="startwithaword"><label for="startwithaword"> Suggest a sentence starting with a custom word</label><br>
        <input type="radio" id="comp1" name="inst" value="comp1"><label for="comp1"> Suggest a sentence about a specific topic and ending in a custom word</label><br>
        <input type="radio" id="comp2" name="inst" value="comp2"><label for="comp2"> Suggest a sentence starting with a custom word and ending in a custom word</label><br>
      <br>
        <script>
            for(var i = 0; i < 12; i++) {
                document.creative_instructions.elements['inst'][i].onclick = function() {
                    generateInstruction();
                }
            }
        </script>
      <br>

        <label for="rhymewithword">Find a rhyming word for: </label>
        <textarea name="rhymewithword" class="form-control" id="RhymeBrainInput" rows="1" cols="10"></textarea>
        <br>
        
        <div id='RhymeBrainResultDiv'></div><div style='clear:both'></div>

        <script type="text/javascript" src="{{ url_for('static', filename='external.js') }}"></script>
        
        <button type="button" onclick="javascript:RhymeBrainSubmit()">Find Rhyming Words</button> 
        <script type="text/javascript">
            var RhymeBrainMaxResults = 15;
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='external.js') }}"></script>
        <br>

        <label for="nlinstruction">Your Instruction</label>
        <textarea name="nlinstruction" class="form-control" id="nlinstruction" rows="1" cols="64">Select a template or type an instruction from scratch</textarea>
        <br>

        <button type="submit" class="btn btn-primary" onclick="clicked='inst'">Submit</button>
    </form>
  
    <script>
                function onSubmitForm() {
                    var instruction = document.getElementById("nlinstruction").value;
                    if (instruction.includes("''")) {
				        alert("You need to edit the template of the instruction, fill in the quotation marks i.e. ''");
				        return false;
					}
			        if ((instruction.includes("''")==false) && (instruction.includes("'")==false)) {
					   alert("Please do not erase quotation marks as it guides the model to understand better.");
					   return false;
					}
			        if ((instruction.startsWith("Write")==false) && (instruction.startsWith("Generate")==false)) {
					   alert("Do not erase all the text from the instruction")
					   return false;
					}
			        return true;
		}
   </script>


   <footer id="sticky-footer" class="py-4 text-black-50">
        <div class="container text-center">
            <small>Copyright &copy; Created by Tuhin Chakrabarty & Vishakh Padmakumar</small>
            <br>
        </div>
    </footer>

  </body>

</html>
