<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>CoPoet: Collaborative Poetry Writing with Instructions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
	body {
            background-image: url('../static/neruda.jpeg');
            background-size: 20%;
	    background-repeat: no-repeat;
	    background-position: bottom -225px left 7px;
        }
        h1 {text-align: center;}
        .center_div {
            margin: 0 auto;
            width: 50%
                /* value of your choice which suits your alignment */
        }
    </style>
</head>

<body>
    <br>
    <h1><i>CoPoet: Collaborative Poetry Writing with Instructions</i></h1> <br>
   
    <form action = "{{ url_for('home') }}" class="center_div" method="POST">

  <!--    <label for="poemsofar">Topic</label>
        <textarea name="poemsofar" class="form-control" id="poemsofar" rows="3"></textarea>
        <br> -->

    <script>
	function generateInstruction() {
		// alert("In function");
		// alert(document.getElementById('lang').value)
		var inst = "Select options to modify instruction";
		if (document.getElementById('lang').value == "about") {inst = "Write a poetic sentence that contains the word '"+document.getElementById('topic').value+"'" }
		if (document.getElementById('lang').value == "startwithaword") {inst = "Write a poetic sentence that starts with the word '"+document.getElementById('startword').value+"'" }
		if (document.getElementById('lang').value == "endwithaword") {inst = "Write a poetic sentence ending in '"+document.getElementById('endword').value+"'" }
		if (document.getElementById('lang').value == "comp1") {inst = "Write a poetic sentence that contains the word '"+document.getElementById('topic').value+"' and ending in '"+document.getElementById('endword').value+"'" }
		if (document.getElementById('lang').value == "comp2") {inst = "Write a poetic sentence that starts with the word '"+document.getElementById('startword').value+"' and ending in '"+document.getElementById('endword').value+"'" }
		document.getElementById('nlinstruction').value = inst.replace(/'/g,'"');;
	}
    </script>

    <label for="lang">Choose an instruction:</label>
      <select id="lang" name="lang">
        <option value="about">Suggest a sentence about a topic</option>
        <option value="endwithaword">Suggest a sentence ending with a custom word</option>
        <option value="startwithaword">Suggest a sentence starting with a custom word</option>
        <option value="comp1">Suggest a sentence about a specific topic and ending in a custom word</option>
        <option value="comp2">Suggest a sentence starting with a custom word and ending in a custom word</option>
        <option value="suggest">Suggest next sentence given what you've written so far</option>
        <option value="suggesttopic">Suggest a topic for next sentence given what you've written so far</option>
        <option value="endwithrhyme">Rhyme with previously written sentence sentence</option>
        <option value="comp3">Suggest a sentence with a specific topic and rhyming with previous sentence</option>
      </select>
      <br>
      <br>

        <label for="topic">Topic</label>
        <textarea name="topic" class="form-control" id="topic" rows="1" cols="10"></textarea>
        <br>

        <label for="endword">Ending Word</label>
        <textarea name="endword" class="form-control" id="endword" rows="1" cols="10"></textarea>
        <br>

        <label for="startword">Starting Word</label>
        <textarea name="startword" class="form-control" id="startword" rows="1" cols="10"></textarea>
        <br>

        <button type="button" onclick="generateInstruction()">View Your Instruction</button>
        <br>

        <label for="nlinstruction">Your Instruction</label>
        <textarea name="nlinstruction" class="form-control" id="nlinstruction" rows="1" cols="64">Hit the button above to edit your instruction in text</textarea>
        <br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
   <footer id="sticky-footer" class="py-4 text-black-50">
        <div class="container text-center">
            <small>Copyright &copy; Created by Tuhin Chakrabarty & Vishakh Padmakumar</small>
            <br>
        </div>
    </footer>

  </body>

</html>
