<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
<!-- 	<title>Poetic Translation</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<style>
                body {
            	background-image: url('../static/neruda.jpeg');
            	background-size: 20%;
            	background-repeat: no-repeat;
            	background-position: bottom -50px left 7px;
		background-attachment: inherit;
       		 }
		h1 {text-align: center;}

		.center_div {
			margin: 0 auto;
			width: 50%
				/* value of your choice which suits your alignment */
		}

	</style>
</head>

<body>
	<br>
	<h1> <i>CoPoet: Collaborative Poetry Writing with Instructions</i> </h1> <br>
	<p class="lead center_div"><b>Poem:</b></p>
	{% for line in poem %}
    <p class="lead center_div" id="poem_line_{{loop.index}}">{{line}}</p>
	{% endfor %}
	<br>
	<p class="lead center_div"><b>Choose from below options: </b> </p>
	{% for line in translation %}
		<p class="lead center_div"> <input type="radio" id="item_{{loop.index}}" name="model_output" value="{{line}}" onclick="handleClick(this);"> <label for="item_{{loop.index}}">{{line}}</label><br> </p>
	{% endfor %}
	<script>
	function handleClick(selectedOption) {
			// alert(selectedOption.value)
			var op_text = ""
			for(let i=1; i<=4; i++)	{
				var id_name = "poem_line_".concat(i)
				// alert(id_name)
				try  {	
					op_text = op_text.concat(document.getElementById(id_name).innerText);
					op_text = op_text.concat("\n")
				}
				catch (error) {
					console.error(error);
					break;
				}
				// alert(op_text)
			}
			op_text = op_text.concat(selectedOption.value);
			document.getElementById("poemsofar").value = op_text;
		}

	function generateInstruction() {
		// alert("In function");
		// alert(document.getElementById('lang').value)var op_text = ""
		var op_text = ""
                for(let i=1; i<=4; i++) {
                        var id_name = "poem_line_".concat(i)
                        try  {  
                             op_text = document.getElementById(id_name).innerText;
                        }
                        catch (error) {
                                console.error(error);
                                break;
                                }
                }
		var poem_so_far = document.getElementById("poemsofar").value;
		var last_sentence = poem_so_far.split("\n").pop();
		var last_word = last_sentence.split(" ").pop();
		var inst = "Select options to modify instruction";
		if (document.getElementById('lang').value == "about") {inst = "Write a poetic sentence that contains the word '"+document.getElementById('topic').value+"'" }
		if (document.getElementById('lang').value == "startwithaword") {inst = "Write a poetic sentence that starts with the word '"+document.getElementById('startword').value+"'" }
		if (document.getElementById('lang').value == "endwithaword") {inst = "Write a poetic sentence ending in '"+document.getElementById('endword').value+"'" }
		if (document.getElementById('lang').value == "comp1") {inst = "Write a poetic sentence that contains the word '"+document.getElementById('topic').value+"' and ending in '"+document.getElementById('endword').value+"'" }
		if (document.getElementById('lang').value == "comp2") {inst = "Write a poetic sentence that starts with the word '"+document.getElementById('startword').value+"' and ending in '"+document.getElementById('endword').value+"'" }
		if (document.getElementById('lang').value == "suggest") {inst = "Write a next sentence in a poetry given the previous sentence '"+last_sentence+"'" }
		if (document.getElementById('lang').value == "suggesttopic") {inst = "Write a next sentence in a poetry given the previous sentence '"+last_sentence+"'" }
		if (document.getElementById('lang').value == "endwithrhyme") {inst = "Write a poetic sentence ending in a rhyme for '"+last_word+"'" }
		if (document.getElementById('lang').value == "comp3") {inst =  "Write a poetic sentence that contains the word '"+document.getElementById('topic').value+"' and ending in a rhyme for '"+last_word+"'" }
		if (document.getElementById('lang').value == "comp4") {inst =  "Write a poetic sentence that contains the word '"+document.getElementById('topic').value+"' and ending in a rhyme for '"+document.getElementById('rhymewithword').value+"'" }
		document.getElementById('nlinstruction').value = inst;
	}
	</script>
	<br>
	<hr>
	<p class="lead center_div"><b>Try Again:</b></p>
	<br>
  <form action = "{{ url_for('home') }}" class="center_div" method="POST">
 	
 	  <label for="poemsofar">Poem so far</label>
	    <textarea name="poemsofar" class="form-control" id="poemsofar" rows="4"></textarea>
	    <br>

 	 <label for="lang">Choose an instruction:</label>
	  <select id="lang" name="lang">
            <option value="about">Suggest a sentence about a topic</option>
            <option value="endwithaword">Suggest a sentence ending with a custom word</option>
            <option value="startwithaword">Suggest a sentence starting with a custom word</option>
            <option value="comp1">Suggest a sentence about a specific topic and ending in a custom word</option>
            <option value="comp2">Suggest a sentence starting with a custom word and ending in a custom word</option>
            <option value="suggest">Suggest next sentence given what you've written so far</option>
            <option value="suggesttopic">Suggest a topic for next sentence given what you've written so far</option>
            <option value="endwithrhyme">Rhyme with previously written sentence sentence</option>
            <option value="comp3">Suggest a sentence with a specific topic and rhyming with previous sentence</option>
            <option value="comp4">Suggest a sentence with a specific topic and rhyming with a custom word</option>
	  </select>
	  <br>
	  <br>

		<label for="topic">Topic</label>
	    <textarea name="topic" class="form-control" id="topic" rows="1" cols="10"></textarea>
	    <br>

	    <label for="endword">Ending Word</label>
	    <textarea name="endword" class="form-control" id="endword" rows="1" cols="10"></textarea>
	    <br>

	    <label for="startword">Starting Word</label>
	    <textarea name="startword" class="form-control" id="startword" rows="1" cols="10"></textarea>
	    <br>

	    <label for="rhymewithword">Rhyming Word</label>
        <textarea name="rhymewithword" class="form-control" id="rhymewithword" rows="1" cols="10"></textarea>
        <br>

            <button type="button" onclick="generateInstruction()">View Your Instruction</button>
            <br>

            <label for="nlinstruction">Your Instruction</label>
            <textarea name="nlinstruction" class="form-control" id="nlinstruction" rows="1" cols="64">Hit the button above to edit your instruction in text</textarea>
            <br>

	    <button type="submit" class="btn btn-primary">Submit</button>

	</form>
	
	<footer id="sticky-footer" class="py-4 text-black-50">
        <div class="container text-center">
            <small>Copyright &copy; Created by Tuhin Chakrabarty & Vishakh Padmakumar</small>
            <br>
        </div>
    	</footer>

  <br>
  <br>
  </body>

</html>
