<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
<!-- 	<title>Poetic Translation</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<style>
                body {
            	background-image: url('../static/neruda.jpeg');
            	background-size: 20%;
            	background-repeat: no-repeat;
            	background-position: bottom -50px left 7px;
		background-attachment: inherit;
       		 }
		h1 {text-align: center;}

		.center_div {
			margin: 0 auto;
			width: 80%
				/* value of your choice which suits your alignment */
		}
                .column {
                    float: left;
                    width: 50%;
                    padding: 10px;
                }

                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }

	</style>
</head>

<body>
	<br>
	<h1> <i>CoPoet: Collaborative Poetry Writing with Instructions</i> </h1> <br>
        <div class="row">
            <div class="column">
	        <p class="lead center_div"><b>Poem:</b></p>
	        {% for line in poem %}
                    <p class="lead center_div" id="poem_line_{{loop.index}}">{{line}}</p>
	        {% endfor %}
	        <br>
	        <p class="lead center_div"><b>Choose from below options: </b> </p>
	        {% for line in translation %}
		    <p class="lead center_div"> <input type="radio" id="item_{{loop.index}}" name="model_output" value="{{line}}" onclick="handleClick(this);"> <label for="item_{{loop.index}}">{{line}}</label><br> </p>
	        {% endfor %}
                <script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	        <script>
                var clicked;
	        function handleClick(selectedOption) {
			// alert(selectedOption.value)
			var op_text = ""
			for(let i=1; i<=4; i++)	{
				var id_name = "poem_line_".concat(i)
				// alert(id_name)
				try  {	
					op_text = op_text.concat(document.getElementById(id_name).innerText);
					op_text = op_text.concat("\n")
				}
				catch (error) {
					console.error(error);
					break;
				}
				// alert(op_text)
			}
			op_text = op_text.concat(selectedOption.value);
			document.getElementById("poemsofar").value = op_text;
		}

	        function generateInstruction() {
		    var op_text = ""
                    for(let i=1; i<=4; i++) {
                        var id_name = "poem_line_".concat(i)
                        try  {  
                             op_text = document.getElementById(id_name).innerText;
                        }
                        catch (error) {
                                console.error(error);
                                break;
                                }
                    }
		    var poem_so_far = document.getElementById("poemsofar").value;
		    var last_sentence = poem_so_far.split("\n").pop();
		    var last_word = last_sentence.split(" ").pop();
		    last_word = last_word.replace('.','').replace(';','').replace(',','')
		    var inst = "Select options to modify instruction";
		    if (document.getElementById('about').checked) {inst = "Write a poetic sentence that contains the word ''" }
		    if (document.getElementById('startwithaword').checked) {inst = "Write a poetic sentence that starts with the word ''" }
		    if (document.getElementById('endwithaword').checked) {inst = "Write a poetic sentence ending in ''" }
		    if (document.getElementById('comp1').checked) {inst = "Write a poetic sentence that contains the word '' and ending in ''" }
		    if (document.getElementById('comp2').checked) {inst = "Write a poetic sentence that starts with the word '' and ending in ''" }
		    if (document.getElementById('suggest').checked) {inst = "Write a next sentence in a poetry given the previous sentence '"+last_sentence+"'" }
		    if (document.getElementById('topic').checked) {inst = "Write a next sentence in a poetry given the previous sentence '"+last_sentence+"'" }
		    if (document.getElementById('endwithrhyme').checked) {inst = "Write a poetic sentence ending in a rhyme for '"+last_word+"'" }
		    if (document.getElementById('comp3').checked) {inst =  "Write a poetic sentence that contains the word '' and ending in a rhyme for '"+last_word+"'" }
		    if (document.getElementById('comp4').checked) {inst =  "Write a poetic sentence that contains the word '' and ending in a rhyme for ''" }
		    if (document.getElementById('comp5').checked) {inst =  "Write a metaphor about ''" }
		    if (document.getElementById('comp6').checked) {inst =  "Write a simile about ''" }
		    document.getElementById('nlinstruction').value = inst;
	        }

                function get_uid(){
                    var dt = new Date().getTime();
                    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                    var r = (dt + Math.random()*16)%16 | 0;
                    dt = Math.floor(dt/16);
                    return (c=='x' ? r :(r&0x3|0x8)).toString(16);
                    });
                return uuid;
                }


	        </script>
	        <br>
	        <hr>
	        <p class="lead center_div"><b>Write your poem here:</b></p>
	        <br>
                <form name="creative_instructions" action = "{{ url_for('home') }}" class="center_div" onsubmit="return onSubmitForm()" method="POST">
 	
 	        <label for="poemsofar">Poem so far</label>
	        <textarea name="poemsofar" class="form-control" id="poemsofar" rows="4"></textarea>
	        <br>
 	        <label for="poemtitle">Poem Title</label>
	        <textarea name="poemtitle" class="form-control" id="poemtitle" rows="1">{{poemtitle}}</textarea>
	        <br>
	        <button type="submit" class="form-control" name="poem_submit" value="poem_submit" onclick="clicked='poem'">Finish</button>
            </div>
            <div class="column">

	        <p class="lead center_div"><b>Tools:</b></p>
	        <br>

 	        <label for="lang">Choose an instruction template:</label><br>
                <input type="radio" id="about" name="inst" value="about"><label for="about">Suggest a sentence about a topic</label><br>
                <input type="radio" id="endwithaword" name="inst" value="endwithaword"><label for="endwithaword">Suggest a sentence ending with a custom word</label><br>
                <input type="radio" id="startwithaword" name="inst" value="startwithaword"><label for="startwithaword">Suggest a sentence starting with a custom word</label><br>
                <input type="radio" id="comp1" name="inst" value="comp1"><label for="comp1">Suggest a sentence about a specific topic and ending in a custom word</label><br>
                <input type="radio" id="comp2" name="inst" value="comp2"><label for="comp2">Suggest a sentence starting with a custom word and ending in a custom word</label><br>
                <input type="radio" id="suggest" name="inst" value="suggest"><label for="suggest">Suggest next sentence given what you've written so far</label><br>
                <input type="radio" id="topic" name="inst" value="suggesttopic"><label for="suggesttopic">Suggest a topic for next sentence given what you've written so far</label><br>
                <input type="radio" id="endwithrhyme" name="inst" value="endwithrhyme"><label for="endwithrhyme">Rhyme with previously written sentence</label><br>
                <input type="radio" id="comp3" name="inst" value="comp3"><label for="comp3">Suggest a sentence with a specific topic and rhyming with previous sentence</label><br>
                <input type="radio" id="comp4" name="inst" value="comp4"><label for="comp4">Suggest a sentence with a specific topic and rhyming with a custom word</label><br>
                <input type="radio" id="comp5" name="inst" value="comp5"><label for="comp5">Suggest a metaphor about a specific topic</label><br>
                <input type="radio" id="comp6" name="inst" value="comp6"><label for="comp6">Suggest a simile about a specific topic</label><br>
            <script>
            for(var i = 0; i < 12; i++) {
                document.creative_instructions.elements['inst'][i].onclick = function() {
                    generateInstruction();
                }
            }
            </script>
	    <br>

            <label for="nlinstruction">Your Instruction</label>
            <textarea name="nlinstruction" class="form-control" id="nlinstruction" rows="1" cols="64">Hit the button above to edit your instruction in text</textarea>
            <br>

	    <button type="submit" class="form-control" name="poem_submit" value="instruction_submit" onclick="clicked='inst'">Submit</button>

            <label for="rhymewithword">Find a rhyming word for: </label>
            <textarea name="rhymewithword" class="form-control" id="RhymeBrainInput" rows="1" cols="10"></textarea>
            <br>
        
            <div id='RhymeBrainResultDiv'></div><div style='clear:both'></div>

            <script type="text/javascript" src="{{ url_for('static', filename='external.js') }}"></script>
        
            <button type="button" onclick="javascript:RhymeBrainSubmit()">Find Rhyming Words</button> 
            <script type="text/javascript">
                var RhymeBrainMaxResults = 15;
            </script>
            <script type="text/javascript" src="{{ url_for('static', filename='external.js') }}"></script>
            <br>

            <input type=hidden class="form-control" name="uid" id="uid" value="abc">
            <input type=hidden class="form-control" name="current_inst" id="current_inst" value="{{instruction}}:{{translation}}">
            <input type=hidden class="form-control" name="logs" id="logs" value="{{logs}}">

	    </form>
            </div>
        </div>
        <script>
                function onSubmitForm() {
                        // alert("Submitting");
                        // alert(clicked);
                        // alert(logs)
                        if (clicked == 'inst') {return true;}
                        var poem = document.getElementById("poemsofar").value;
                        var count = poem.split(/\r\n|\r|\n/).length;
                        if (count < 4) {
                            alert("The poem needs to be at least 4 lines long. Current line count: "+count); return false;
                        }
                        if (poem.length < 80) {
                            alert("The poem needs to be at least 80 characters long. Current character count: "+poem.length); return false;
                        }
                        var title = document.getElementById("poemtitle").value;
                        if (title.length < 3) {
                            alert("The poem title needs to be at least 3 characters long. Current length: "+title.length); return false;
                        }
                        var uid_element = document.getElementById("uid");
                        uid_element.value = get_uid();
                        alert("Success! Please enter this code into MTurk to complete the task - "+uid_element.value)
                    }
        </script>	
	<footer id="sticky-footer" class="py-4 text-black-50">
        <div class="container text-center">
            <small>Copyright &copy; Created by Tuhin Chakrabarty & Vishakh Padmakumar</small>
            <br>
        </div>
    	</footer>

  <br>
  <br>
  </body>

</html>
